.u-section-1 {
  background-image: url("images/main_bg.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1130px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 1px;
  margin: 195px auto 0;
  padding: 42px 70px 43px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 29px 429px 0 523px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 1px;
  margin: 39px auto 0;
  padding: 42px 70px 43px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: 28px 451px 0 501px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 1px;
  margin: 32px auto 0;
  padding: 42px 70px 43px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 772px;
  animation-duration: 2000ms;
  margin: -557px 260px 1px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 932px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 423px;
    margin-right: 329px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 351px;
    margin-left: 401px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 714px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 313px;
    margin-right: 219px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 241px;
    margin-left: 291px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 496px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 223px;
    margin-right: 129px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 151px;
    margin-left: 201px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 732px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 123px;
    margin-right: 29px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 51px;
    margin-left: 101px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 461px;
  }
}